pkgbase = kernelsu-dkms
	pkgdesc = A Kernel based root solution for Android. DKMS module for Container-based solutions such as Waydroid.
	pkgver = 3.2.0+g8aa991b+0+g8aa991b2
	pkgrel = 1
	url = https://github.com/mistrmochov/KernelSU-Next
	arch = any
	license = GPL-2.0-only
	makedepends = git
	depends = modloader
	depends = dkms
	options = !strip
	options = !emptydirs
	source = kernelsu::git+https://github.com/mistrmochov/KernelSU-Next#branch=waydroid
	source = Makefile
	source = dkms.conf
	source = 00-kernelsu.conf
	source = load-kernelsu.in
	sha256sums = SKIP
	sha256sums = 50276e52fdb4adcb24c5fc3c86d9b2bd1926e7fe6c60c119dbe99ac67ad249bf
	sha256sums = 20622786e0c96ba8f4ff17008c495189171844b870c68e92d45b6cf961a5c50a
	sha256sums = 05feaafbbac794a68c7eeea8c0a4c5616fc9f6ef7e4b7540baf3f5d43fad5fb0
	sha256sums = f01d10fbcfba1b83134746ccfdc7ef4ceb61fa43593b94f039eac3469637429c

pkgname = kernelsu-dkms
