pkgbase = kernelsu-dkms
	pkgdesc = A Kernel based root solution for Android. DKMS module for Container-based solutions such as Waydroid.
	pkgver = 3.4.1+g7d37bdb+0+g7d37bdbb
	pkgrel = 1
	url = https://github.com/mistrmochov/KernelSU-Next
	arch = any
	license = GPL-2.0-only
	makedepends = git
	makedepends = rust
	makedepends = cargo
	depends = dkms
	options = !strip
	options = !emptydirs
	source = kernelsu::git+https://github.com/mistrmochov/KernelSU-Next#branch=waydroid
	source = Makefile
	source = dkms.conf
	source = 00-kernelsu.conf
	source = load-kernelsu.in
	sha256sums = SKIP
	sha256sums = a836794d044068ee44f0e60b4f45f4f58e810a23e79cb800b4cba1dd9004e369
	sha256sums = 0602a4a2a2737b33b0d0bb7a5faf2588fdda67a73fa1ad4e563be00748edb180
	sha256sums = 05feaafbbac794a68c7eeea8c0a4c5616fc9f6ef7e4b7540baf3f5d43fad5fb0
	sha256sums = f01d10fbcfba1b83134746ccfdc7ef4ceb61fa43593b94f039eac3469637429c

pkgname = kernelsu-dkms
